<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Date</a>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect)="changeModel($event)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <hr/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
      <div class="col-sm"></div>

    <div>
      <img src="../../assets/Images/building2.png">
      <button type="button" class="btn btn-light leftCorner" (click)="left()"><img src="../../assets/Images/lefArrow.png"></button>
      <button type="button" class="btn btn-light rectagleButton">{{this.buildings[this.buttonTextIndice]}}</button>
      <button type="button" class="btn btn-light rightCorner" (click)="right()"><img src="../../assets/Images/rightArrow.png"></button>
    </div>
    <div class="col-sm"></div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

