<div class="container">

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <img src="../../assets/Images/Computer_64.png" >
        <p>#2358JU45</p>
      </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <img src="../../assets/Images/Computer_64.png" >
        <p>#2358JU45</p>
      </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>


    <div class="col-sm">
      <ul>
      <button type="button" class="btn btn-secondary">
        <img src="../../assets/Images/Add_64.png" >
      </button>
      </ul>
    </div>
  </div>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


</div>
