<div class="container">

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <img src="../../assets/Images/Computer_64.png" >
        <p>#2358JU45</p>
      </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <img src="../../assets/Images/Computer_64.png" >
        <p>#2358JU45</p>
      </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
  </div>

  <div style="height: 13px" ></div>

  <div class="row">
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          <img src="../../assets/Images/Computer_64.png" >
          <p>#2358JU45</p>
        </button>
      </ul>
    </div>


    <div class="col-sm">
      <ul>
      <button type="button" class="btn btn-secondary">
        <img src="../../assets/Images/Add_64.png" >
      </button>
      </ul>
    </div>
  </div>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h1 class="modal-title">Editar</h1>
        </div>

        <div class="modal-body">
            <ul class="list-group" style="list-style-type: none">
                <li class="list-group-item-">
                    <div class="float-right">
                      <button type="button">
                        <img class="delete-device-icon" src="../../assets/Images/Delete_device_64.png">
                      </button>
                    </div>
                </li>

                <li class="list-group-item-">
                    <div class="form-check row d-flex justify-content-center">
                      <div class="col-md-3">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Dañada</label>
                      </div>
                    </div>
                </li>

                <br>

                <li class="list-group-item-">
                    <div class="form-group row d-flex justify-content-center">
                      <div class="col-md-4">
                        <div class="text-center">
                          <input class="form-control" type="text" value="#2358JU45" >
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="modal-footer">
          <div class="text-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Terminar</button>
          </div>
        </div>

      </div>

    </div>
  </div>


</div>
