.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.green-new-hover:hover, .green-new-hover:hover{
  background-color: #CAFFD8; // #B5FFC8 hover for green, hover for yellow #FFFFAA
}

.yellow-new-hover:hover, .yellow-new-hover:hover{
  background-color: #FFFFAA; // #B5FFC8 hover for green, hover for yellow #FFFFAA
}

.new-border{
  border-width: thin;
  border-color: black;
}

.right-border-black{
  boder-widows: thin;
  border-right: black;
}

.bottom-border-black{
  boder-widows: thin;
  border-bottom: black;
}
