<div class="container'">
  <table class="table table-bordered new-hover">
    <thead class="thead-dark">
    <tr>

      <th style="width: 16%" scope="col">Hora</th>
       <th *ngFor="let day of weekday; let i = index" style="width: 12%" scope="col">{{weekday[(dayAsked+i)%7]}}</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">7:00 - 8:00</th>
      <td class="table-success">--</td>
      <td class="table-warning">--</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">8:00 - 9:00</th>
      <td class="table-success">--</td>
      <td class="table-warning">--</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">9:00 - 10:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">10:00 - 11:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">11:00 - 12:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">12:00 - 1:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">1:00 - 2:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">2:00 - 3:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">3:00 - 4:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">4:00 - 5:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">5:00 - 6:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">6:00 - 7:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">7:00 - 8:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    <tr>
      <th scope="row">8:00 - 9:00</th>
      <td>Libre</td>
      <td>Reservado</td>
      <td>Libre</td>
      <td>Libre</td>
      <td>Reservado</td>
      <td> -- </td>
      <td> -- </td>
    </tr>

    </tbody>
  </table>
</div>