<div class="container'">
  <table class="table table-bordered new-hover">
    <thead class="thead-dark">
    <tr>

      <th style="width: 16%" scope="col">Hora</th>
       <th *ngFor="let day of weekday; let i = index" style="width: 12%" scope="col">{{weekday[(dayAsked+i)%7]}}</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hour of hours; let i = index">
      <th scope="row">{{i+7}}:00 - {{i+8}}:00</th>
      <td (click)="this.cellCompoent(i,j)" class="{{this.cTd[this.matrix[i][(this.dayAsked+j)%7].status]}} " *ngFor="let day of weekday, let j = index" >{{matrix[i][(dayAsked+j)%7].user}}</td>
    </tr>
    </tbody>
  </table>
</div>