.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.new-hover>tbody>tr>td:hover, .new-hover>tbody>tr>td:hover{
  background-color: #B5FFC8; // #B5FFC8 hover for green, hover for yellow #FFFFAA
}
