<div class="container vertical-center">
  <div class="card " style="width: 60%;">
    <div class="card-header">
      <h5 class="card-title" style="text-align: center">Usuarios</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <div *ngFor="let user of users; let i = index">
        <li class="list-group-item d-flex justify-content-between align-items-center">{{user}}
          <span><button type="button" class="btn btn-primary float-right button-position btn-sm" >Elimiar</button></span>
        </li>
        </div>

      </ul>
    </div>
  </div>

</div>