<div class="container">
  <div class="row">
      <label for="example-number-input" class="col-1 col-form-label">Mes</label>

    <div class="col-2">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ months[currentMonth] }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button *ngFor="let month of months; let i = index"
                  class="dropdown-item"
                  [ngClass]="{'active': currentMonth === i}"
                  (click)="setCurrentMonth(i)">
            {{ month }}
          </button>
        </div>
      </div>
    </div>

      <div class="col-auto">
      <div class="form-group row">
          <label for="example-number-input" class="col-5 col-form-label">Día:</label>
          <div class="col-6">
              <input class="form-control" type="number"
                     [(ngModel)]="currentDay"
                     value="{{currentDay}}"
                     min="1" max="{{numberOfDays}}"
                     id="example-number-input">
          </div>
      </div>
      </div>
  </div>

    <div class="calendar-table">
    <!-- Table -->
    <table id="customers">
        <tr>
            <th *ngFor="let day of days; let i = first"
                [ngClass]="{'hour-head': i}">
                {{ day }}
            </th>
        </tr>
        <tr *ngFor="let hour of counter( (22 - 7) + 1); let i = index">
            <p>{{ i + 7 +':00' }}</p>
            <td *ngFor="let count of counter( 7 ); let j = index"
                [ngClass]="{'not-available-day': j < currentDay - 1, 'available': isAvailable(i,j), 'not-available': !isAvailable(i,j)}">
            </td>
        </tr>
    </table>
    </div>
</div>
